.dialog_login {
    width: 100%;
    
    .text_input {
        width: 100%;
        height: 49px;
        background-color: rgba(50, 50, 50, 1);
        border-radius: 12px;
        margin-top: 2px;
    }
}