.dialog_post_bg {
    height: 80vh;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100vw;
    // height: 100vh;
    // background: rgba(24, 24, 24, 0.96);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // z-index: 100;

    .post_context {
        width: 100%;
        height: 100%;
        background-color: red;
    }

    .post_text {
        height: 100%,
    }
}