.report_dlg_bg {

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #0F0F0F;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 30px;
    }

    
}