.content_bg {
    width: 100%;
    max-width: 1440px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow-y: scroll;
    box-sizing: border-box;
    background: #000000;
}