.nft_detail_bg {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    box-sizing: border-box;

    .layout {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 960px;
        height: auto;
        position: relative;
        justify-items: flex-start;

        .tab_layout {
            margin-top: 21px;
            width: 100%;
            max-width: 960px;
            height: 48px;
            background: #161719;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            padding-left: 17px;
            box-sizing: border-box;

            .txt {
                font-size: 14px;
                font-family: Saira;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 22px;
                white-space: pre;
            }
        }

        .head_layout {
            margin-top: 18px;
            width: 100%;
            display: flex;
            flex-direction: row;
            max-width: 960px;

            .product_layout {
                display: flex;
                flex: 1;
                flex-direction: row;
                width: auto;
                height: 134px;
                align-items: center;
                background: #161719;
                border-radius: 10px;

                .icon {
                    margin-left: 17px;
                    width: 100px;
                    height: 100px;
                    border-radius: 16px;
                }

                .title_layout {
                    margin-left: 18px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .title {
                        margin-left: 11px;
                        font-size: 32px;
                        font-family: Saira;
                        font-weight: 500;
                        color: #FFFFFF;
                        line-height: 50px;
                    }

                    .data {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 345px;
                        height: 48px;
                        background: #222528;
                        border-radius: 9px;
                        align-items: center;

                        .txt {
                            margin-left: 11px;
                            font-size: 16px;
                            font-family: Saira;
                            font-weight: 500;
                            color: #909090;
                            line-height: 25px;
                        }

                        .info_chain_layout {
                            margin-right: 4px;
                            width: 164px;
                            height: 40px;
                            padding-left: 6px;
                            padding-right: 6px;
                            background: #2E3035;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            box-sizing: border-box;
                            cursor: pointer;

                            .number {
                                width: 28px;
                                height: 28px;
                                background: #4B8B1F;
                                border-radius: 14px;
                                font-size: 18px;
                                font-family: Saira;
                                font-weight: 500;
                                color: #FFFFFF;
                                line-height: 28px;
                            }

                            .chain {
                                font-size: 16px;
                                font-family: Saira;
                                font-weight: 500;
                                color: #FFFFFF;
                                line-height: 25px;
                            }

                            .img {
                                width: 28px;
                                height: 28px;
                            }
                        }

                    }
                }

            }

            .right_layout {
                margin-left: 10px;
                width: 156px;
                height: auto;
                display: flex;
                flex-shrink: 0;
                flex-direction: column;

                .btn_open {
                    width: 156px;
                    height: 62px;
                    background: #006CF9;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .img {
                        width: 36px;
                        height: 36px;
                    }

                    .txt {
                        margin-left: 4px;
                        font-size: 16px;
                        font-family: Saira;
                        font-weight: 500;
                        color: #FFFFFF;
                        line-height: 25px;
                    }
                }

                .item_layout {
                    margin-top: 10px;
                    width: 156px;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .share_btn {
                        width: 74px;
                        height: 62px;
                        background: #161719;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        img {
                            width: 36px;
                            height: 36px;
                        }

                        .txt {
                            font-size: 12px;
                            font-family: Saira;
                            font-weight: 500;
                            color: #909090;
                            line-height: 19px;
                        }
                    }
                }

            }
        }

        .tab_info_layout {
            margin-top: 18px;
            width: 340px;
            height: 48px;
            background: #222528;
            border-radius: 9px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            padding-left: 4px;
            padding-right: 4px;
            box-sizing: border-box;

            .btn_en {
                cursor: pointer;
                width: 164px;
                height: 40px;
                background: #454FBF;
                border-radius: 5px;
                font-size: 16px;
                font-family: Saira;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
            }

            .btn_un {
                cursor: pointer;
                width: 164px;
                height: 40px;
                background: #161719;
                border-radius: 5px;
                font-size: 16px;
                font-family: Saira;
                font-weight: 500;
                color: #909090;
                line-height: 25px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                align-items: center;
            }
        }

        .info_layout {
            margin-top: 12px;
            width: 100%;
            height: auto;

            background: #161719;
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 17px;
            padding-right: 17px;
            padding-top: 14px;
            padding-bottom: 27px;

            .mySwiper {
                width: 400px;
                height: 200px;
                display: flex;

                .img {
                    cursor: pointer;
                    margin-top: 30px;
                    width: 280px;
                }

                .swiper-pagination-bullet {
                    width: 6px;
                    height: 6px;
                    background: #909090;

                }

                .swiper-button-prev {
                    width: 28px;
                    height: 28px;

                    &:after {
                        width: 28px;
                        height: 28px;
                        font-size: 0px;
                        background-image: url(../../asset/image/detail/ic_prev_swiper.png);
                        background-size: 100% 100%;
                    }
                }

                .swiper-button-next {
                    width: 28px;
                    height: 28px;

                    &:after {
                        width: 28px;
                        height: 28px;
                        font-size: 0px;
                        background-image: url(../../asset/image/detail/ic_next_swiper.png);
                        background-size: 100% 100%;
                    }
                }
            }

            .info_content {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .title {
                    font-size: 16px;
                    font-family: Saira;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 25px;
                }

                .desc {
                    width: auto;
                    margin-top: 12px;
                    font-size: 14px;
                    font-family: Saira;
                    font-weight: 500;
                    color: #909090;
                    line-height: 22px;
                    text-align: left;
                    white-space: pre-wrap;
                }

                .moreBtn {
                    margin-top: 12px;
                    font-size: 16px;
                    font-family: Saira;
                    font-weight: 500;
                    color: #7C87FF;
                    line-height: 25px;
                }

                .item_fc_layout {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: left;
                    margin-top: 28px;

                    .name {
                        width: 45px;
                        font-size: 16px;
                        font-family: Saira;
                        font-weight: 500;
                        color: #909090;
                        line-height: 25px;
                        text-align: left;

                    }

                    .name2 {
                        width: 53px;
                        font-size: 16px;
                        font-family: Saira;
                        font-weight: 500;
                        color: #909090;
                        line-height: 25px;
                        text-align: left;

                    }

                    .rank_vis {
                        margin-left: 16px;
                        padding-left: 34px;
                        padding-right: 34px;
                        height: 34px;
                        background: #222528;
                        border-radius: 17px;
                        font-size: 16px;
                        font-family: Saira;
                        font-weight: 500;
                        color: #909090;
                        line-height: 25px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }

                    .icon_reddit {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_reddit.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_reddit_en.png);
                        }
                    }

                    .icon_meduim {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_medium.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_medium_en.png);
                        }
                    }

                    .icon_discord {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_discord.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_discord_en.png);
                        }
                    }

                    .icon_facebook {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_facebook.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_facebook_en.png);
                        }
                    }

                    .icon_github {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_github.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_github_en.png);
                        }
                    }

                    .icon_telegram {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_telegram.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_telegram_en.png);
                        }
                    }

                    .icon_youtube {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_youtube.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_youtube_en.png);
                        }
                    }

                    .icon_ins {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_ins.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_ins_en.png);
                        }
                    }

                    .icon_twitter {
                        cursor: pointer;
                        margin-left: 8px;
                        width: 34px;
                        height: 34px;
                        background-image: url(../../asset/image/logo/ic_twitter.png);
                        background-size: 100% 100%;

                        &:hover {
                            background-image: url(../../asset/image/logo/ic_twitter_en.png);
                        }
                    }
                }
            }
        }

        .stats_layout {
            margin-top: 18px;
            width: 100%;
            height: auto;
            padding-left: 17px;
            padding-top: 14px;
            padding-right: 17px;
            padding-bottom: 33px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: #161719;
            border-radius: 10px;
            box-sizing: border-box;

            .title {
                font-size: 16px;
                font-family: Saira;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 25px;
            }

            .time_layout {
                margin-top: 12px;
                display: flex;
                flex-direction: row;

                .btn {
                    margin-left: 8px;
                    width: 48px;
                    height: 36px;
                    background: #232526;
                    border-radius: 5px;
                    font-size: 14px;
                    font-family: Saira;
                    font-weight: bold;
                    color: #909090;
                    line-height: 22px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                .btn_en {
                    margin-left: 8px;
                    width: 48px;
                    height: 36px;
                    background: #454FBF;
                    border-radius: 5px;
                    font-size: 14px;
                    font-family: Saira;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 22px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                :first-child {
                    margin-left: 0px;
                }

            }

            .utvb_layout {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .item_layout {

                    margin-top: 14px;
                    padding-left: 14px;
                    padding-top: 15px;
                    width: 224px;
                    height: 120px;
                    background: #232526;
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    box-sizing: border-box;

                    .t_txt {
                        font-size: 14px;
                        font-family: Saira;
                        font-weight: 600;
                        color: #909090;
                        line-height: 22px;
                    }

                    .t_price {
                        margin-top: 12px;
                        font-size: 22px;
                        font-family: Saira;
                        font-weight: 600;
                        color: #FFFFFF;
                        line-height: 35px;
                    }

                    .t_up {
                        font-size: 14px;
                        font-family: Saira;
                        font-weight: 600;
                        color: #00FF19;
                        line-height: 22px;
                    }

                    .t_down {
                        font-size: 14px;
                        font-family: Saira;
                        font-weight: 600;
                        color: #FF0000;
                        line-height: 22px;
                    }

                    .img {
                        position: absolute;
                        right: 14px;
                        top: 14px;
                        width: 22px;
                        height: 22px;
                        background-image: url(../../asset/image/logo/ic_info.png);
                        background-size: 100% 100%;
                    }
                }

            }

        }

        .video_info_title {
            margin-top: 28px;
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-left: 17px;
            align-items: center;

            .txt {
                font-size: 20px;
                font-family: Saira;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 32px;

            }

            .txt1 {
                margin-left: 12px;
                font-size: 14px;
                font-family: SairaRoman;
                font-weight: 500;
                color: #909090;
                line-height: 22px;

            }

            .txt_sum {
                margin-left: 24px;
                font-size: 14px;
                font-family: Saira;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 22px;

            }
        }

        .video_layout {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: left;
            flex-wrap: wrap;
            margin-left: -8px;

            .layout {
                position: relative;
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                cursor: pointer;

                .video {
                    margin-top: 24px;
                    margin-left: 8px;
                    width: 228px;
                    height: 128px;
                    object-fit: cover;
                }

                .play {
                    z-index: 10;
                    position: absolute;
                    top: 60px;
                    right: 0;
                    left: 0;
                    margin: auto;
                    width: 58px;
                    height: auto;
                }

                .txt {
                    margin-top: 8px;
                    padding-left: 8px;
                    width: 228px;
                    font-size: 14px;
                    height: 40px;
                    font-family: Saira;
                    font-weight: 500;
                    color: #FFFFFF;
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

            }
        }
    }

}

.detail_menu_img {
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

.detail_menu_number {
    width: 28px;
    height: 28px;
    background: #3C4145;
    border-radius: 14px;
    font-size: 18px;
    font-family: Saira;
    font-weight: 500;
    color: #909090;
    line-height: 28px;
    text-align: center;
    margin-right: 4px;
}