.container {
    padding-bottom: 100px;
    width: 760px;
    min-height: calc( 100vh - 64px );
    // background-color: rgba(27, 27, 27, 0.95);
    margin-top: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    box-sizing: border-box;
    pointer-events: all;
    z-index: 0;
    .layout {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 960px;
        position: relative;
        justify-items: flex-start;

        .content_block {
            margin-top: 40px;
            width: 100%;
            min-height: 400px;
            padding: 30px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-color: white;
        }
    }

}

.boxClick {
    cursor: pointer;
}