.global_bg {
    width: 760px;
    min-height: calc( 100vh - 64px ) ;
    background-color: rgba(27, 27, 27, 0.75);
    pointer-events: all;

    .op {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .top_button {
        cursor: pointer;
    }
}

