.global_bg {
    width: 768px;
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    pointer-events: all;

    @media screen and (max-width: 768px) {
        width: 100%;//auto;
    }

    .global_content {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #131313;
    }

    .global_head {
        // position: sticky;
        // top: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 6px;
        padding-bottom: 6px;
        // z-index: 1000;

        .tip0 {
            color: rgb(255, 255, 255);
            margin-right: 12px;
        }

        .select0 {
            min-width: 240px;
            margin-right: 24px;
            height: 24px;
        }
    }


    .global_loadmore {
        width: 100%;
        font-size: 16px;
        font-family: Saira;
        font-weight: 500;
        text-align: center;
        color: #646464;
        padding-top: 20px;
        padding-bottom: 60px;
        cursor: pointer;
        &:hover {
            filter: brightness(180%);
        }
    }

    .op {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .top_button {
        cursor: pointer;
    }
}