.global_bg {
    // background-color: "red" !important;
    min-height: 800px;
    max-width: 760px;
    width: 100%;
    background-color: rgba(0,0,0,0.25) ;

    .op {
        width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        // background-color: rgba(0,0,0,1) ;
    }

    .top_button {
        cursor: pointer;
    }
}

