.nft_store_bg{
    width: 100%;
    min-height: calc( 100vh - 64px );
    background-color: #131313;// #131313;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    pointer-events: all;

    .nft_list {
        // background-color: aqua;
        width: 100%;
        display: grid;
        padding: 16px;

        --template-column-compact-multiplier: 1;
        --template-reduced-columns-multiplier: 1;
        --template-column-gutters: 16px;
        --template-reduced-columns: 1;

        @media (min-width: 20rem) {
            --template-columns: 2;
        }

        @media (min-width: 36rem) {
            --template-columns: 2;
        }

        @media (min-width: 50rem) {
            --template-columns: 3;
        }

        @media (min-width: 60rem) {
            --template-columns: 4;
        }

        @media (min-width: 70rem) {
            --template-columns: 4;
        }

        @media (min-width: 80rem) {
            --template-columns: 5;
        }

        @media (min-width: 90rem) {
            --template-columns: 5;
        }

        @media (min-width: 100rem) {
            --template-columns: 6;
        }

        @media (min-width: 110rem) {
            --template-columns: 7;
        }

        @media (min-width: 120rem) {
            --template-columns: 8;
        }

        @media (min-width: 130rem) {
            --template-columns: 9;
        }

        grid-gap: var( --template-column-gutters );
        grid-auto-rows: minmax(0px, 1fr);
        grid-template-columns: repeat( calc( var(--template-columns) - ( var(--template-reduced-columns) * var(--template-reduced-columns-multiplier) ) ), minmax(0,1fr) );
        box-sizing: border-box;
    }

}

