.node_thread_bg {
    min-height: calc( 100vh - 64px );
    width: 760px;
    background-color: rgba(0, 0, 0, 0.708);
    z-index: 0;

    .back {
        cursor: pointer;
        position: absolute;
        width: 38px;
        height: 38px;
        left: calc( 50vw - 460px);
        top: 12px;
        background-image: url(../../asset/image/logo/ic_back.png);
        background-size: 100% 100%;
        &:hover{
            transform: scale(1.2);
        }
    }
}
    

