.post_reply_bg {
    min-height: calc( 100vh - 64px );
    width: 760px;
    background-color: rgba(27, 27, 27, 0.95);
    z-index: 0;

    .post_menu {
        position: fixed;
        top: 64px;
        left: calc( 50vw - 432px );
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post_menu_item {
        cursor: pointer;
        margin-top: 6px;
        width: 140px;
        height: 36px;
    }

    .post_button {
        width: 58px;
        height: 58px;
        position: fixed;
        top: calc( 64px + 6px );
        right: calc( 50vw - 570px );
        cursor: pointer;
        // background-color: white;
        border-radius: 29px;
        background-image: url(../../asset/image/logo/icon_post.png);
        background-size: 100% 100%;
    }

    .list_bg {
        width: 100%;
        overflow: auto;
        background-color: transparent;
    }

}