.post_reply_bg {
    min-height: calc(100vh - 64px);
    width: 760px;
    background-color: #1B1B1B;
    // background-color: red;
    z-index: 0;
    pointer-events: all;
    position: relative;

    .post_menu {
        position: fixed;
        top: 64px;
        left: calc(50vw - 432px);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post_menu_item {
        margin-top: 6px;
        width: 140px;
        height: 36px;
    }

    .post_menu_item_selected {
        background-color: #1C6CF9;
        &:hover {
            background-color: #368AF9;
        }
    }

    .post_menu_item_unselected {
        background-color: #272727;
        &:hover {
            background-color: #383838;
        }
    }



    .post_new_data {
        width: 160px;
        height: 38px;
        position: fixed;
        top: 70px;
        right: calc(50vw - 136px);
        cursor: pointer;
        border-radius: 29px;
        background-color: rgba(0, 108, 249, 1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
        z-index: 10;

        .new_data_avatars {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            .avatar {
                margin-left: -6px;
                width: 28px;
                height: 28px;
            }
        }

        .new_data_num {
            position: absolute;
            right: 15px;
            font-family: Saira;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }

    .post_button {
        width: 58px;
        height: 58px;
        position: fixed;
        top: calc(64px + 6px);
        right: calc(50vw - 570px);
        cursor: pointer;
        // background-color: white;
        border-radius: 29px;
        background-image: url(../../asset/image/logo/icon_post.png);
        background-size: 100% 100%;
    }

    .list_bg {
        width: 100%;
        overflow: auto;
        background-color: transparent;
    }

    .post_loadmore {
        width: 100%;
        font-size: 16px;
        font-family: Saira;
        font-weight: 500;
        // line-height: 29px;
        text-align: center;
        color: #646464;
        padding-bottom: 64px;
        cursor: pointer;
    }

}