.profile_bg {
    width: 663px;
    min-height: calc( 100vh - 64px );
    padding-top: 24px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.95);
    pointer-events: all;

    .banner{
        object-fit: cover;
        width: 100%;
        height: 156px;
    }

    .profile_content {
        width: 100%;
        padding: 0 52px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
    }

    .lable_flag {
        font-size: 14px;
        font-family: Saira;
        font-weight: 500;
        color: #919191;
    }
}

