.bg {
    width: 760px;
    min-height: calc( 100vh - 64px ) ;
    background-color: rgba(0, 0, 0, 0.708) ;
    pointer-events: all;

    .project_card_contain {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        // width: calc( 100% - 48px);
        display: flex;
        flex-wrap: wrap;
        grid-gap: 32px;
        gap: 32px;
    }
}