.boxbg {
    // min-height: 100vh;
    min-height: 100%;
    height: auto;
    overflow-y: auto;

    .gsociety_text_item {
        display: flex;
        width: 150px;
        height: auto;
        flex-direction: column;
        box-sizing: border-box;

        .txt {
            font-size: 14px;
            font-family: Saira;
        }

        .txt_about {
            font-size: 12px;
            font-family: Saira;
            width: 150px;
            max-height: 60px;
            color: #4e4b4b;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
        }
    }
}