.society_bg {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #0F0F0F;
    width: 400px;
    overflow: hidden;

    .header {
        width: 100%;
        margin-top: 10px;
        // padding-left: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .goback {
            width: 100px;
            height: 38px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: #FFFFFF;
            font-size: 18px;
            font-family: Saira;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: #3c3d3d;
            }
        }
    }

    .header_bg {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1;
        border-color: #202122;
        padding-bottom: 25px;
    }

    .header_btn {
        width: 136px;
        height: 36px;
        border-radius: 6px;
        font-size: 14px;
        font-family: Saira;
        font-weight: 500;
    }

    .inner_list {
        width: 100%;
        min-height: calc(100vh - 200px);
    }

    .follow_item {
        position: relative;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;

        .avatar {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .text_item {
            margin-left: 10px;
            width: 150px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;

            .txt {
                font-family: Saira;
                font-size: 14px;
                color: #FFFFFF;
            }

            .txt_about {
                font-family: Saira;
                font-size: 12px;
                width: 150px;
                color: #4e4b4b;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: keep-all;
            }

        }

        .button {
            position: absolute;
            right: 20px;
            width: 80px;
            height: 24px;
            font-family: Saira;
            font-size: 12px;
            background-color: #202122;
        }

    }

}