.userhome-bg {
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(27, 27, 27, 0.95);
    padding-top: 24px;
    padding-bottom: 66px;
    pointer-events: all;
}

