.userhome-bg {
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #0F0F0F !important;
    padding-top: 24px;
    padding-bottom: 66px;
    pointer-events: all;

    @media screen and (max-width: 768px) {
        width: 100%;//auto;
    }

    .loadmore {
        width: 100%;
        font-size: 16px;
        font-family: Saira;
        font-weight: 500;
        // line-height: 29px;
        text-align: center;
        color: #646464;
        margin-top: 40px;
        margin-bottom: 64px;
        cursor: pointer;
        &:hover {
            color: #9c9a9a;
        }
    }
}

