.userhome-bg {
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #0F0F0F !important;
    padding-top: 24px;
    padding-bottom: 66px;
    pointer-events: all;

    @media screen and (max-width: 768px) {
        width: 100%;//auto;
    }
}

