.footer_bg {
    width: 100%;
    height: auto;
    background: #00000000;

    .text_line {
        // width: 100%;
        margin-left: 24px;
        margin-bottom: 8px;
        // background: #232526;
        color: #909090;
        cursor: pointer;
        font-size: 0.8rem;
    }

    .logo_layout {
        width: 100%;
        height: auto;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .media {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon_reddit {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_reddit.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_reddit_en.png);
                }
            }

            .icon_meduim {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_medium.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_medium_en.png);
                }
            }

            .icon_discord {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_discord.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_discord_en.png);
                }
            }

            .icon_facebook {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_facebook.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_facebook_en.png);
                }
            }

            .icon_github {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_github.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_github_en.png);
                }
            }

            .icon_telegram {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_telegram.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_telegram_en.png);
                }
            }

            .icon_youtube {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_youtube.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_youtube_en.png);
                }
            }

            .icon_ins {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_ins.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_ins_en.png);
                }
            }

            .icon_twitter {
                cursor: pointer;
                margin-left: 8px;
                width: 34px;
                height: 34px;
                background-image: url(../../asset/image/logo/ic_twitter.png);
                background-size: 100% 100%;

                &:hover {
                    background-image: url(../../asset/image/logo/ic_twitter_en.png);
                }
            }
        }
    }

    .layout_setting {
        margin-top: 28px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .txt {
            font-size: 12px;
            font-family: Saira;
            font-weight: 500;
            color: #909090;
        }

        .lang {
            cursor: pointer;
            position: relative;
            width: 145px;
            height: 32px;
            background: #232526;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .txt {
                height: 25px;
                font-size: 16px;
                font-family: Saira;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 25px;
            }

            .img {
                position: absolute;
                right: 0;
                top: 0;
                width: 28px;
                height: 28px;
            }

        }

    }

    .footer_end {
        margin-left: 24px;
        margin-top: 8px;
        // background: #232526;
        font-size: 0.5rem;
        color: #909090;
    }
}