.content {
    // margin-top: 10px;
    width: 100%;
    height: auto;
    text-align: left;
    color: rgb(113, 118, 123);
    font-size: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}