.card_note_repost_bg {
    // background-color: transparent;
    cursor: pointer;
    background-color: #171717;
    &:hover {
        background-color: #1A1A1A;
    }
   
    .repost_header {
        width: calc(100% - 48px);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .icon_trans {
            width: 28px;
            height: 28px;
            background-image: url(../asset/image/logo/icon_trans.png);
            background-size: 100% 100%;
        }

        .level2_label {
            margin-left: 12px;
            color: #666666;
            font-size: 14px;
            font-family: Saira;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                filter: brightness(180%);
            }
        }

        .level2_label_unhover {
            margin-left: 12px;
            color: #666666;
            font-size: 14px;
            font-family: Saira;
            font-weight: 500;
        }
    }

}