.carduser-bg {

    width: 100%;
    background-color: transparent;

    .MuiCardContent-root {
        background-color: #0F0F0F !important;
    }

    .labelBox {
        margin-right: 28px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        &:hover {
            filter: brightness(180%);
            text-decoration: underline;
        }

        .lable_1 {
            color: #FFFFFF;
        }
    
        .lable_2 {
            margin-left: 8px;
            color: #666666;
        }
    }

    .btn_Lighting {
        margin-left: 12px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-image: url(../asset/image/social/logo_lighting.png);
        background-size: 100% 100%;

        &:hover {
            filter: brightness(180%);
        }
    }

    .btn_dm {
        margin-left: 12px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-image: url(../asset/image/social/logo_chat.png);
        background-size: 100% 100%;

        &:hover {
            filter: brightness(180%);
        }
    }

    .button_follow {
        margin-left: 12px;
        width: 96px;
        height: 36px;
        font-family: Saira;
        font-size: 14px;
        background-color: #1C6CF9;
        border-radius: 18px;

        &:hover {
            background-color: #368AF9,
        }
    }

    .button_unfollow {
        margin-left: 12px;
        width: 96px;
        height: 36px;
        font-family: Saira;
        font-size: 14px;
        border-radius: 18px;
        background-color: #272727;

        &:hover {
            background-color: #383838,
        }
    }
}