.card_nft_bg {
    width: auto;
    height: 100%;
    background-color: #656565;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .3s cubic-bezier(.17,.67,.83,.67);
    overflow: hidden;
    &:hover{
        transform: scale(1.03);
    }
    // & :hover {
    //     transition: box-shadow 0.25s ease-in-out 0s, transform 0.25s ease 0s;
    // }
}