$fontname1: Saira;
$fontname2: Saira;

.label {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-family: $fontname2;
}

.name {
    font-size: 12px;
    font-family: $fontname2;
}
