.search_bg {

    .search {
        width: 400px;
        border-radius: 12px;
    }

    .MuiInputBase-root{
        height: 42px;
        border-radius: 50px !important;
    }
    // .MuiAutocomplete-input {
    //     height: 32px;
    // }

    .MuiOutlinedInput-root {
        padding: 0px 9px !important;
    }

}