$fontname1: Saira;
$fontname2: Saira;

.bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    // overflow: hidden;
    // background-color: aqua;
    .warpper {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        max-width: 1600px;
        width: 60%;
        height: 100%;
        margin-top: 20px;
        // padding: 50px;
    }
}