.left_menu_bg {
    // width: auto;
    // height: 8vh;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
    // background:transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // vertical-align: middle;
    // flex-shrink: 0;
    padding: 12px;
    z-index: 1200;
}