.head_bg {
    width: 100vw;
    height: 64px;
    background: #191a1b9f;
    z-index: 1000;
    position: fixed;
    // left: 0px;
    top: 0px;
    // padding-right: 46px;
    border-radius: 12px;

    .toolbar_bg {
        flex-shrink: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .iconimg{
        margin-left: -8px;
        margin-right: 6px;
    }

    .btLogin{
        padding-left: 24px;
        padding-right: 24px;
        background-color: rgba(255, 72, 100, 1);
        color: white;
        border-radius: 24px;

        &:hover {
            background-color: rgb(250, 136, 142);
        }
    }

    .btConnect{
        padding-left: 24px;
        padding-right: 24px;
        background-color: rgba(0, 108, 249, 1);
        color: white;
        border-radius: 24px;

        &:hover {
            background-color: rgb(54, 138, 249);
        }
    }

    .wallet_layout {
        margin-right: 12px;
    }
}

.button{
    &:hover{
        background-color: #3c3d3d;
    }
}