.head_bg {
    height: 60px;
    background: #191A1B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 10;

    .logo {
        margin-left: 80px;
        left: 50px;
        width: 160px;
        height: auto;
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;

        .man {
            margin-right: 16px;
            width: 34px;
            height: 34px;
        }

        .message {
            margin-right: 16px;
            width: 46px;
            height: 46px;
        }

        .wallet_layout {
            cursor: pointer;
            width: auto;
            padding-right: 20px;
            height: 32px;
            background: #006CF9;
            border-radius: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 80px;

            &:hover{
                transform: scale(1.1);
            }

            .img {
                margin-left: 9px;
                width: 28px;
                height: 28px;
            }

            .txt {
                margin-left: 8px;
                width: auto;
                height: 22px;
                font-size: 14px;
                font-family: Saira;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 22px;
            }
        }
    }
}