.main_bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main_search {
        position: fixed;
        top: 12px;
        left: calc( 50% - 225px ) ;
        // margin: auto 0;
        z-index: 2200;
    }

    .main_meta {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        z-index: 0;
    }

    .main_content {
        width: auto;
        max-width: 960px;
        position: relative;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0);
        overflow: auto;
    }

    .main_right_drawer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_bottom_drawer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

