.main_bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;

    .main_frame {
        width: 100%;
        background-color: #0F0F0F;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: center;
    }

    .main_menu {
        top: 64px;
        position: sticky;
        width: 200px;
        height: calc( 100vh - 64px);
        overflow-y: auto;
    }

    .main_content {
        flex-grow: 1;
        // width: auto;//calc( 100% - 200px );//auto;
        min-height: calc( 100vh - 64px );
        display: flex;
        flex-direction: column;
        align-items: center;
        pointer-events: none;

        @media screen and (max-width: 768px) {
            width: 100%;//auto;
        }
    }

    .main_right_drawer {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    .main_bottom_drawer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

