.store_bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .store_content {
        width: auto;
        min-height: calc( 100vh - 64px );
        position: relative;
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        pointer-events: none;
    }

}

